In [1]:
import pandas as pd

In [4]:
# import our input datasets
df_predict = pd.read_csv('Prediction_Table.csv')
df_predict.head()

  Team  W/L Score  R-squared training  R-squared testing       MSE      RMSE
0  ATL      0.568            0.846472           0.614111  0.026773  0.013387
1  BOS      0.612            0.842763           0.653702  0.008455  0.004227
2  CHA      0.475            0.755002           0.274240  0.005586  0.002793
3  CHI      0.532            0.806667           0.640051  0.018647  0.009323
4  CLE      0.535            0.855987           0.578880  0.028194  0.014097

In [5]:
predicted_df = df_predict.set_index("Team")
predicted_df.head()

      W/L Score  R-squared training  R-squared testing       MSE      RMSE
Team
ATL       0.568            0.846472           0.614111  0.026773  0.013387
BOS       0.612            0.842763           0.653702  0.008455  0.004227
CHA       0.475            0.755002           0.274240  0.005586  0.002793
CHI       0.532            0.806667           0.640051  0.018647  0.009323
CLE       0.535            0.855987           0.578880  0.028194  0.014097

In [13]:
#rename the columns
predicted_df = predicted_df.rename(columns={"W/L Score":"W/L%"})
predicted_df = predicted_df.rename(columns={"R-squared training":"R^2 Train"})
predicted_df = predicted_df.rename(columns={"R-squared testing":"R^2 Test"})
predicted_df.head()

       W/L% R^2 Train  R^2 Test       MSE      RMSE
Team
ATL   0.568     0.846  0.614111  0.026773  0.013387
BOS   0.612     0.843  0.653702  0.008455  0.004227
CHA   0.475     0.755  0.274240  0.005586  0.002793
CHI   0.532     0.807  0.640051  0.018647  0.009323
CLE   0.535     0.856  0.578880  0.028194  0.014097

In [14]:
#convert to html
tbtptable = predicted_df.to_html()
tbttable = tbtptable.replace('\n','')
tbttable

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>W/L%</th>      <th>R^2 Train</th>      <th>R^2 Test</th>      <th>MSE</th>      <th>RMSE</th>    </tr>    <tr>      <th>Team</th>      <th></th>      <th></th>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>ATL</th>      <td>0.568</td>      <td>0.846</td>      <td>0.614111</td>      <td>0.026773</td>      <td>0.013387</td>    </tr>    <tr>      <th>BOS</th>      <td>0.612</td>      <td>0.843</td>      <td>0.653702</td>      <td>0.008455</td>      <td>0.004227</td>    </tr>    <tr>      <th>CHA</th>      <td>0.475</td>      <td>0.755</td>      <td>0.274240</td>      <td>0.005586</td>      <td>0.002793</td>    </tr>    <tr>      <th>CHI</th>      <td>0.532</td>      <td>0.807</td>      <td>0.640051</td>      <td>0.018647</td>      <td>0.009323</td>    </tr>    <tr>      <th>CLE</th>      <td>0.535</td>      <td>0.856</td>      <td>0.578880</td>      <td>0.028194</td>      <td>0.014097</td>    </tr>    <tr>      <th>DAL</th>      <td>0.590</td>      <td>0.834</td>      <td>-195.136974</td>      <td>0.000161</td>      <td>0.000080</td>    </tr>    <tr>      <th>DEN</th>      <td>0.561</td>      <td>0.856</td>      <td>-16.740010</td>      <td>0.004999</td>      <td>0.002499</td>    </tr>    <tr>      <th>DET</th>      <td>0.626</td>      <td>0.877</td>      <td>0.409685</td>      <td>0.056988</td>      <td>0.028494</td>    </tr>    <tr>      <th>GSW</th>      <td>0.470</td>      <td>0.841</td>      <td>0.287293</td>      <td>0.044539</td>      <td>0.022270</td>    </tr>    <tr>      <th>HOU</th>      <td>0.577</td>      <td>0.819</td>      <td>0.064040</td>      <td>0.047507</td>      <td>0.023754</td>    </tr>    <tr>      <th>IND</th>      <td>0.501</td>      <td>0.847</td>      <td>-1.117127</td>      <td>0.008198</td>      <td>0.004099</td>    </tr>    <tr>      <th>LAC</th>      <td>0.455</td>      <td>0.805</td>      <td>-8.644522</td>      <td>0.035166</td>      <td>0.017583</td>    </tr>    <tr>      <th>LAL</th>      <td>0.727</td>      <td>0.864</td>      <td>0.358358</td>      <td>0.055617</td>      <td>0.027809</td>    </tr>    <tr>      <th>MEM</th>      <td>0.472</td>      <td>0.829</td>      <td>0.396860</td>      <td>0.013874</td>      <td>0.006937</td>    </tr>    <tr>      <th>MIA</th>      <td>0.520</td>      <td>0.857</td>      <td>0.377609</td>      <td>0.005431</td>      <td>0.002715</td>    </tr>    <tr>      <th>MIL</th>      <td>0.577</td>      <td>0.859</td>      <td>0.281362</td>      <td>0.012473</td>      <td>0.006236</td>    </tr>    <tr>      <th>MIN</th>      <td>0.577</td>      <td>0.859</td>      <td>0.281362</td>      <td>0.012473</td>      <td>0.006236</td>    </tr>    <tr>      <th>NJN</th>      <td>0.472</td>      <td>0.840</td>      <td>0.728371</td>      <td>0.021162</td>      <td>0.010581</td>    </tr>    <tr>      <th>NOP</th>      <td>0.504</td>      <td>0.830</td>      <td>-13.574556</td>      <td>0.006630</td>      <td>0.003315</td>    </tr>    <tr>      <th>NYK</th>      <td>0.495</td>      <td>0.849</td>      <td>0.793050</td>      <td>0.026023</td>      <td>0.013011</td>    </tr>    <tr>      <th>OKC</th>      <td>0.575</td>      <td>0.833</td>      <td>-0.082612</td>      <td>0.017994</td>      <td>0.008997</td>    </tr>    <tr>      <th>ORL</th>      <td>0.575</td>      <td>0.833</td>      <td>-0.316644</td>      <td>0.022298</td>      <td>0.011149</td>    </tr>    <tr>      <th>PHI</th>      <td>0.557</td>      <td>0.820</td>      <td>0.347175</td>      <td>0.010722</td>      <td>0.005361</td>    </tr>    <tr>      <th>PHO</th>      <td>0.596</td>      <td>0.824</td>      <td>0.641943</td>      <td>0.058379</td>      <td>0.029190</td>    </tr>    <tr>      <th>POR</th>      <td>0.568</td>      <td>0.836</td>      <td>0.215351</td>      <td>0.007993</td>      <td>0.003997</td>    </tr>    <tr>      <th>SAC</th>      <td>0.424</td>      <td>0.831</td>      <td>-2.924758</td>      <td>0.004664</td>      <td>0.002332</td>    </tr>    <tr>      <th>SAS</th>      <td>0.424</td>      <td>0.884</td>      <td>-0.705092</td>      <td>0.004664</td>      <td>0.002332</td>    </tr>    <tr>      <th>TOR</th>      <td>0.538</td>      <td>0.832</td>      <td>-0.174603</td>      <td>0.006811</td>      <td>0.003406</td>    </tr>    <tr>      <th>UTA</th>      <td>0.620</td>      <td>0.806</td>      <td>-0.212593</td>      <td>0.016006</td>      <td>0.008003</td>    </tr>    <tr>      <th>WAS</th>      <td>0.620</td>      <td>0.806</td>      <td>-0.212593</td>      <td>0.016006</td>      <td>0.008003</td>    </tr>  </tbody></table>'